# Dependencies
node_modules/
.next/

# Environment variables
.env.local
.env.production.local
.env.test.local

# Next.js
.next
out/
build/

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Temporary folders
tmp/
temp/

# System Files
.DS_Store
Thumbs.db